body{
  width: 600px;
  margin: 0 auto;
  background-color: lightgrey;
}
header h1{
  background-color: green;
  color: white;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'akaPotsley', fantasy;
  font-weight: normal;
}

header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header li {
  width: 25%;
  float: left;
}
header nav li a {
  background-color: lightgreen;
  color: black;
  text-align: center;
  padding: 3px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
}
header nav li a:hover{
  background-color: black;
  color: lightgreen;
  text-decoration: underline;
}
main{
  clear: both;
  max-height: 340px;
  overflow: scroll;
}
main article{
  padding: 1em;
  text-align: justify;
  background-color: white;
}
main article h1{
  font-family: sans-serif;
}
main article h1:first-child {
  margin-top: 0;
}
main article p {
  text-indent: 5em;
  line-height: 1.5em;
}

footer{
  background-color: green;
  color: white;
  text-align: center;
  padding: 5px;
}
footer a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
